@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#myNavbar{
  font: normal 18px Open Sans, serif;
  z-index: 99;
  position: sticky;
  width:100%;
  top: 0;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #abb7ff;
}
li {
  float: left;
}
li a {
  display: block;
  color: #030303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8790c7;
  color: #030303;
}
.row:after{
  content:'';
  display:block;
  clear:both;
}
/* -------------------- */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 20px;
  background: #ffffff;
}
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

.topnav a {
  font: normal 18px Open Sans, serif;
  float: left;
  color: black;
  background-color: #abb7ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 15px;
  margin-right: 0px;
  margin-left: 20px;
}
.topnav a:hover {
  background-color: #8790c7;
  color: #030303;
}
.topnav a.active {
  background-color: #abb7ff;
  color: black;
}
.topnav-right {
  float: right;
}

.header {
  padding-top: 10px;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.leftcolumn {
  float: left;
  width: 33%;
}
.midcolumn {
  float: left;
  width: 33%;
  padding-left: 20px;
}

.rightcolumn {
  float: left;
  width: 33%;
  padding-left: 20px;
}
.headline {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.card {
  font: normal 18px Open Sans, serif;
   background-color: #abb7ff;
   padding: 20px;
   margin-bottom:20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/* ----------------------------- */
.collapsible:after {
  content: '+';
  color: #E4F2F2;
  font-size: 25px;
  color: white;
  float: right;
  margin-left: 5px;
}

.activeq:after {
  content: "-";
  color: #E4F2F2;
}

.collapsible {
  background-color: #317087;
  color: #E4F2F2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active{
  background-color: #5e6fad;
  color: #c7d0f0;
}
.collapsible:hover {
  background-color: #4393b0;
  color: #E4F2F2;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/* ------------ */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.columnabout {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.columnaboutus {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* form {
       width: 330px;
       height: 60px;
       border-radius: 5px;
       display:flex;
       flex-direction:row;
       align-items:center;
     } */

.ImageHolder{
 text-align:center;
 }
/* --------- */

/*.button { //THIS IS FOR THE OTHER LOG IN
  font: normal 18px Open Sans, serif;
  background-color: #abb7ff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

.fcc-btn {
  background-color: #abb7ff;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.fcc-btn:hover {
  background-color: #8790c7;
  color: #030303;
}

#panel1{
  font: normal 18px Open Sans, serif;
  width:100%;
  top: 0;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.space{
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.columndonate1 {
  float: left;
  width: 75%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.columndonate2 {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.columnlogin{
  margin: auto;
  width: 30%;
  padding: 10px;
  font: normal 18px Open Sans, serif;
  text-align: center;
}

/* -------------- */

    form {border: 3px solid #f1f1f1;}
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    button {
      background-color: #abb7ff;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }