#myNavbar{
  z-index: 99;
  position: sticky;
  width:100%;
  top: 0;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #abb7ff;
}
li {
  float: left;
}
li a {
  display: block;
  color: #030303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8790c7;
  color: #030303;
}
.row:after{
  content:'';
  display:block;
  clear:both;
}
.card {
   background-color: #abb7ff;
   padding: 20px;
   margin-bottom:20px;
}

.columnabout {
     float: left;
     width: 50%;
     margin-bottom: 16px;
     padding: 0 8px;
   }
form {
      width: 330px;
      height: 60px;
      border-radius: 5px;
      display:flex;
      flex-direction:row;
      align-items:center;
        }
.row:after {
      content: "";
      display: table;
      clear: both;
        }
